/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/vioce/20211223/*.mp3
/public/vioce/20211225/*.mp3
/public/vioce/20211226/*.mp3
/public/vioce/20211229/*.mp3
/public/vioce/20211230/*.mp3
/public/vioce/20211231/*.mp3
/public/vioce/20220101/*.mp3
/public/vioce/20220102/*.mp3
/public/vioce/20220104/*.mp3
/public/vioce/20220105/*.mp3
/public/vioce/20220107/*.mp3
/public/vioce/20220109/*.mp3
/public/vioce/20220110/*.mp3
/public/vioce/20220111/*.mp3
